<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Search2</title>
    <html xmlns:th="https://www.thymeleaf.org"></html>
    <Link href="../static/css/search2.css" th:href="@{css/search2.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="hi + ' ' + ${name}"></h1>
<form action="" method="get">
    <input name="name" placeholder="Искать здесь..." type="search">
    <button type="submit">Поиск</button>
</form>
</body>
</html>